.page-header {
    background-color: #000000;
    margin-top: 0;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #FFFFFF;
    font-size: 20pt;
    text-decoration: underline;
    font-family:'Merriweather', serif;
}

.page-header a{
    padding-top: 15px;
}

.page-header p{
    padding-top: 15px;
    font-size: 15pt;
}
.content {
    margin-left: 40px;
    text-align: center; 
}

h1, h2, h3, h4 {
    font-family: 'Roboto', sans-serif;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;

}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #828282;
    float: right;
    font-size: 20pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
    font-family: 'Roboto', sans-serif;

}

.post h1 a, .post h1 a:visited {
    color: #000000;
    font-size: 18pt;
}

/*.post p {
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
    padding: 10px 10px 10px 10px;
} */